/G1_final_nfa
/G1_final_nfa.pdf
/G1_tree
/G1_tree.pdf
/G2_tree
/G2_tree.pdf
/NFA.png
/NFA1.png
/NFA2.png
/notebook_G3.ipynb
/proof.aux
/proof.fdb_latexmk
/proof.fls
/proof.log
/proof.pdf
/proof.synctex.gz
/tree.png
/tree1.png
/tree2.png